@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.section1 {
  color: #f9faf8;
  background-color: #1f2837;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.headerlogo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.titlesub {
  font-size: 18px;
  color: #E5E7Eb;
}

.headerbody {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}

img {
  max-height: 200px;
  margin-left: 44px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 444px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}

.h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2837;
  margin: 40px;
}

.boxes {
  color: #1f2837;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.square {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.section2 {
  margin: 50px;
  text-align: center;
}

.box {
  width: 150px;;
}

.section3{
  background-color: #E5E7Eb;
  padding: 200px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2837;
  font-weight: lighter;
}
.quote-author {
  color: #1f2837;
  font-weight: bold;
  align-self: flex-end;
}

.section4 {
  padding: 90px 180px;
}

.call-action {
  background-color: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  display: flex;
  padding: 35px 80px;
  justify-content: space-around;
}

.call-action-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 20px;
  border: 2px solid white;
  border-radius: 8px;
}

.footer {
  background-color: #1f2837;
  color: #f9faf8;
  align-items: flex-end;
  padding: 20px;
  font-size: 10px;
  text-align: center;
}